<% content_for :flashes do %>
  &nbsp;
<% end %>

<div class="row">
    <div class="span4 offset4 well">
          <%= link_to "Sign in with AppDirect", "/players/auth/open_id?openid_url=https://www.appdirect.com/openid/id" %><br />
    </div>
</div>
